{% extends 'base.html' %} 
{% block content %} 
{{block.super}}
<div class="container-fluid">
    <div class="container">
        <h2><b>Welcome to My Gallery</b></h2>
        <div class="row">
        {%for pic in pictures %}
        
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                       
                    </div>
                    <div class="card-body">
                        <img class=" img-responsive image2" width="100%" height="200px" src="{{pic.image.url}}" alt="image">
                    </div>
                    <div class="card-footer">
                        {{pic.name}} 
                        <a class="btn btn-primary" href="/single_pic/{{pic.id}} " style="float: right;">More</a>
                    </div>
                </div>
            </div>           
       
        {%endfor%}
    </div>
    </div>
</div>
{%endblock%}
