{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">
 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
   <div class="card">
    <div class="card-header">
     {{image.name}}
    </div>
    <div class="card-body">
     <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap" width="100%">
     <h4 class="card-title">Description :</h4><p class="card-text ">{{image.description}}</p>
     <h4 class="card-title">Category: {{image.category}}</h4>
     <h4 class="card-title">Author: {{image.author}}</h4>
     <h4 class="card-footer">Location :{{image.location}}</h4>
    </div>
   </div> 
  </div>
  <div class="col-md-1"></div>
 </div> 
</div>
{%endblock%}